* {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}
h1, h2, h3 {
	font-weight: 400;
}
ul {
	list-style: none;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background: #333;
	color: #fff;
}
li > a {
	display: block;
}
a {
  color: inherit;
  text-decoration: inherit;
}

/* layout */
.Navbar {
	position: fixed;
	top: 0;
	height: 64px;
	width: 100%;
	z-index: 2;
}
.Sidebar {
	position: fixed;
	top: 64px;
	width: 280px;
}
.Page {
	margin: 84px 20px 20px 280px;
	max-width: 840px;
	min-height: calc(100vh - 104px);
	min-width: 400px;
}



.Page {
	background: #444;
	border-radius: 10px;
	padding: 20px;
}
.pic {
	border-radius: 50%;
}
.result-grid {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
	gap: 20px;
}

iframe {
	position: absolute;
	border: none;
	left: 0px;
	width: 100%;
	top: 0px;
	height: 100%;
}

.Modal {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff1;
	margin: auto;
	z-index: 3;
}

.Modal > div {
	margin: 15% auto;
	height: 30%;
	width: 30%;
	background: #444;
	padding: 1rem;
	border-radius: 10px;
}

.Modal > div button {
	margin-right: 1em;
}
.Modal > div input {
	margin-bottom: 1em;
}

button {
	background: #333;
	font-size: 1.2rem;
	padding: .2em .5em;
	margin-right: 1em;
	border-radius: .4em;
	border: 1px solid transparent;
	color: white;
	cursor: pointer;
}
button:hover {
	border: 1px solid white;
}


.head > img {
	margin: auto 0;
}

.Friend {
	display: flex;
	background: #333;
	border-radius: .5em;
	margin-bottom: 1em;
}
.Friend img {
	border-radius: 50%;
	padding: 10px;
}
